<template>
  <div>
    <Sidebar/>
    <div class="container-fluid p-0">
    <nuxt/>
    </div>

  </div>
</template>
<script>
import Sidebar from '../components/Sidebar.vue';
export default {
    components: { Sidebar }
}
</script>
<style lang="">

</style>
