<template>
  <div>
    <!-- About-->
    <section class="resume-section" id="about">
      <div class="resume-section-content">
        <h1 class="mb-0">
          <span style="color: #5F85DB;">Arishna</span>
          Dwi J
        </h1>
        <div class="subheading mb-5">
          Dalung - Badung, 80351 · 081339505830 
          <!-- <a href="mailto:name@email.com" style="color: #1B262C;">arishnadwi16@gmail.com</a> -->
        </div>
        <p class="lead mb-5">
          I am a student who is currently 17 years old. 
          A woman who has just grown up. likes calm, likes rain at night.
          I have a hobby of watching movies and also traveling. Various genres of films I like starting
          from comedy, horror, drama, action, and many more. I have a desire to
          able to travel and visit tours and get to know cultural diversity
          existing in Indonesia.
        </p>
        <div class="social-icons">
          <a class="social-icon" href="https://gitlab.com/arishnadwij">Gitlab</a>
          <a class="social-icon" href="https://github.com/">Github</a>
          <a class="social-icon" href="https://www.facebook.com/profile.php?id=100076165154285">Facebook</a>
          <a class="social-icon" href="https://www.instagram.com/arishnadwij/">Instagram</a>
        </div>
      </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
      <div class="resume-section-content">
        <h2 class="mb-5" style="color: #5F85DB;">Experience & Contest</h2>
        <div
          class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
            <h3 class="mb-0">Calistung Quiz Competition</h3>
            <div class="subheading mb-3">In SD Negeri 1 Dalung</div>
            <p>
              This is my first experience. 
              I took part in this competition when I was in 3rd grade. 
              At that time I was very active and diligent to study. 
              Until I represented the school to the sub-district level. 
              But unfortunately I have not been able to give the best for school.
            </p>
          </div>
          <div class="flex-shrink-0">
            <span class="text-primary">25 January 2013</span>
          </div>
        </div>

        <div
          class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
            <h3 class="mb-0">Correspondence Lontar in Balinese Language</h3>
            <div class="subheading mb-3">In SD Negeri 1 Dalung</div>
            <p>
              The second experience I got in elementary school. Followed by school representatives from Dalung Village. 
              Practicing with a fairly short time made me unable to give my best for school, so this experience became the experience of participating in the last competition in elementary school.
            </p>
          </div>
          <div class="flex-shrink-0">
            <span class="text-primary">Balinese Month - February 2016</span>
          </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
            <h3 class="mb-0">Intra-School Students Organization</h3>
            <div class="subheading mb-3">In SMP Negeri 2 Kuta Utara</div>
            <p>
              OSIS facilitates students to learn to be responsible according to their respective duties for the benefit of the school and all students.
              In addition, OSIS also has a function as a driver for the development of students' abilities and creativity.
              OSIS can also work to prevent the emergence of negative influences on students.
            </p>
          </div>
          <div class="flex-shrink-0">
            <span class="text-primary">September 2017 - September 2018</span>
          </div>
        </div>
        <div
          class="d-flex flex-column flex-md-row justify-content-between mb-5"
        >
          <div class="flex-grow-1">
            <h3 class="mb-0">Gebogan Competition</h3>
            <div class="subheading mb-3">Br Kwanji Dalung - Padang Luwih Temple</div>
            <p>
              I once participated in a gebogan competition representing the area where I live in my area. 
              In the competition I worked with 5 of my friends. 
              With hard work and practice for 1 week, my friends and I were finally able to get 1st place.
            </p>
          </div>
          <div class="flex-shrink-0">
            <span class="text-primary">12 June 2022</span>
          </div>
          <!-- <div class="flex-shrink-0">
            <span class="text-primary">29 Juni 2022</span>
          </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
          <div class="flex-grow-1">
            <h3 class="mb-0">Web Design Intern</h3>
            <div class="subheading mb-3">Shout! Media Productions</div>
            <p>
              Collaboratively administrate empowered markets via plug-and-play
              networks. Dynamically procrastinate B2C users after installed base
              benefits. Dramatically visualize customer directed convergence
              without revolutionary ROI.
            </p>
          </div>
          <div class="flex-shrink-0">
            <span class="text-primary">September 2008 - June 2010</span>
          </div> -->
        </div>
      </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
      <div class="resume-section-content">
        <h2 class="mb-5" style="color: #5F85DB;">Education</h2>
        <div
          class="d-flex flex-column flex-md-row justify-content-between mb-5"
        >
          <div class="flex-grow-1">
            <h3 class="mb-0">SMK Negeri 1 Denpasar</h3>
            <div class="subheading mb-3">Rekayasa Perangkat Lunak</div>
            <div>Jl. Cokroaminoto No.84, Pemecutan Kaja, Kec. Denpasar Utara, Kota Denpasar, Bali 80116</div>
            <!-- <p>GPA: 3.23</p> -->
          </div>
          <div class="flex-shrink-0">
            <span class="text-primary">July 2020 - May 2023</span>
          </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
            <h3 class="mb-0">SMP Negeri 2 Kuta Utara</h3>
            <!-- <div class="subheading mb-3">Technology Magnet Program</div> -->
            <div>Jl. Made Bulet No.48, Dalung, Kec. Kuta Utara, Kabupaten Badung, Bali 80361</div>
            <!-- <p>GPA: 3.56</p> -->
          </div>
          <div class="flex-shrink-0">
            <span class="text-primary">July 2017 - May 2020</span>
          </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between">
          <div class="flex-grow-1">
            <h3 class="mb-0">SD Negeri 1 Dalung</h3>
            <!-- <div class="subheading mb-3">Technology Magnet Program</div> -->
            <div>Jl. Raya Dalung, Dalung, Kec. Kuta Utara, Kabupaten Badung, Bali 80351</div>
            <!-- <p>GPA: 3.56</p> -->
          </div>
          <div class="flex-shrink-0">
            <span class="text-primary">July 2011 - May 2017</span>
          </div>
        </div>

      </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
      <div class="resume-section-content">
        <h2 class="mb-5" style="color: #5F85DB;">Skills</h2>
        <!-- <div class="subheading mt-2">Programming Languages & Tools</div> -->
        
        <!-- <ul class="list-inline dev-icons">
          <li class="list-inline-item"><i class="fab fa-html5"></i> </li>
          <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
          <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
          <li class="list-inline-item"><i class="fab fa-angular"></i></li>
          <li class="list-inline-item"><i class="fab fa-react"></i></li>
          <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
          <li class="list-inline-item"><i class="fab fa-sass"></i></li>
          <li class="list-inline-item"><i class="fab fa-less"></i></li>
          <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
          <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
          <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
          <li class="list-inline-item"><i class="fab fa-npm"></i></li>
        </ul> -->
        <div class="subheading mt-2">Programming Languages, Framework, & Editor</div>
        <ul class="fa-ul mb-0">
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            HTML
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            CSS ( Cascading Style Sheet )
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            PHP ( Hypertext Preprocessor )
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Laravel
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Bootstrap
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Figma
          </li>
        </ul>

        <div class="subheading mt-2 mb-2"> Communicate well </div>
        <ul class="fa-ul mb-0">
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            I have good communication skills. I enjoy talking to a conversational person who has a creative and critical mind. 
            I can also adjust the conversation according to the situation and conditions.
            Several times on various occasions, I have been a moderator. 
            Where I used that opportunity to practice my speaking skills.
          </li>
        </ul>
      </div>
    </section>
    <hr class="m-0" />

    <!-- Interests-->
    <section class="resume-section" id="interests">
      <div class="resume-section-content">
        <h2 class="mb-5" style="color: #5F85DB;">Interests</h2>
        <p>    
        I am personally happy and very interested in learning new things that I have never tried before.
        In my opinion, by daring to try new things, I can get new experiences.
        </p>
        <p class="mb-0">
          Trying new things by researching, getting problems, solving these problems, until getting to the conclusion at the end.
          I have participated in the Extracurricular Scientific Work for Teenagers. 
          KIR is an extracurricular that brings together students in the scientific/science field, who are active in studying scientific fields such as exact sciences and practicing experiments.
        </p>
      </div>
    </section>
    <hr class="m-0" />
    <!-- Awards-->
    <section class="resume-section" id="awards">
      <div class="resume-section-content">
        <h2 class="mb-5" style="color: #5F85DB;">Awards</h2>
        <div class="subheading mb-3">Academy</div>
        <ul class="fa-ul mb-0">
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            1st Place for Class 2 - SD Negeri 1 Dalung
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            1st Place for Class 3 - SD Negeri 1 Dalung
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            2nd Place in Class 4 - SD Negeri 1 Dalung
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            2nd Place in Class 5 - SD Negeri 1 Dalung
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            2nd Place in Class 6 - SD Negeri 1 Dalung
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            2nd Place in Class 7 - SMP Negeri 2 Kuta Utara
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            3rd Place in Class 8 - SMP Negeri 2 Kuta Utara
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            2nd Place in Class 9 - SMP Negeri 2 Kuta Utara
          </li>
          <!-- <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            2nd Place in Class 5 - SD Negeri 1 Dalung
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            2nd Place in Class 5 - SD Negeri 1 Dalung
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            2nd Place in Class 5 - SD Negeri 1 Dalung
          </li> -->
        </ul>
        <!-- <ul class="list-inline dev-icons">
          <li class="list-inline-item"><i class="fab fa-html5"></i> </li>
          <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
          <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
          <li class="list-inline-item"><i class="fab fa-angular"></i></li>
          <li class="list-inline-item"><i class="fab fa-react"></i></li>
          <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
          <li class="list-inline-item"><i class="fab fa-sass"></i></li>
          <li class="list-inline-item"><i class="fab fa-less"></i></li>
          <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
          <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
          <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
          <li class="list-inline-item"><i class="fab fa-npm"></i></li>
        </ul> -->
        <br>
        <div class="subheading mb-3">Non Academy</div>
        <ul class="fa-ul mb-0">
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            1st Place in Gebogan Contest - Pura Padang Luwih
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            2nd runner up for Correspondence Lontar in Balinese Language - SD Negeri 1 Dalung
          </li>
        </ul>
      </div>
    </section>

    <!-- <section class="resume-section" id="awards">
      <div class="resume-section-content">
        <h2 class="mb-5" style="color: #5F85DB;">Awards & Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <span class="fa-li"
              ><i class="fas fa-trophy text-warning"></i
            ></span>
            Google Analytics Certified Developer
          </li>
          <li>
            <span class="fa-li"
              ><i class="fas fa-trophy text-warning"></i
            ></span>
            Mobile Web Specialist - Google Certification
          </li>
          <li>
            <span class="fa-li"
              ><i class="fas fa-trophy text-warning"></i
            ></span>
            1
            <sup>st</sup>
            Place - University of Colorado Boulder - Emerging Tech Competition
            2009
          </li>
          <li>
            <span class="fa-li"
              ><i class="fas fa-trophy text-warning"></i
            ></span>
            1
            <sup>st</sup>
            Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI
            Design Category)
          </li>
          <li>
            <span class="fa-li"
              ><i class="fas fa-trophy text-warning"></i
            ></span>
            2
            <sup>nd</sup>
            Place - University of Colorado Boulder - Emerging Tech Competition
            2008
          </li>
          <li>
            <span class="fa-li"
              ><i class="fas fa-trophy text-warning"></i
            ></span>
            1
            <sup>st</sup>
            Place - James Buchanan High School - Hackathon 2006
          </li>
          <li>
            <span class="fa-li"
              ><i class="fas fa-trophy text-warning"></i
            ></span>
            3
            <sup>rd</sup>
            Place - James Buchanan High School - Hackathon 2005
          </li>
        </ul>
      </div>
    </section> -->
  </div>
</template>
<script>
export default {
  name: "IndexContent",
};
</script>
